// Token

@font-face {
  font-family: "Token";
  src: url("/assets/fonts/tokenSerif/Token4-Green.woff2") format("woff2"),
       url("/assets/fonts/tokenSerif/Token4-Green.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Token";
  src: url("/assets/fonts/tokenSerif/Token4-Yellow.woff2") format("woff2"),
       url("/assets/fonts/tokenSerif/Token4-Yellow.woff") format("woff");
  font-weight: 700;
  font-style: italic;
}

// Sporting Grotesque

@font-face {
  font-family: "Sporting Grotesque";
  src: url("/assets/fonts/SportingGrotesque/Sporting_Grotesque-Regular_web.woff") format("woff"),
       url("/assets/fonts/SportingGrotesque/Sporting_Grotesque-Regular_web.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Sporting Grotesque";
  src: url("/assets/fonts/SportingGrotesque/Sporting_Grotesque-Bold_web.woff") format("woff"),
       url("/assets/fonts/SportingGrotesque/Sporting_Grotesque-Bold_web.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

// Jaune Grande

@font-face {
  font-family: "Jaune Grande";
  src: url("/assets/fonts/jaune/Jaunev0.4-GrandeBlack.woff2") format("woff2"),
       url("/assets/fonts/jaune/Jaunev0.4-GrandeBlack.woff") format("woff");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Jaune Grande";
  src: url("/assets/fonts/jaune/Jaunev0.4-GrandeLight.woff2") format("woff2"),
       url("/assets/fonts/jaune/Jaunev0.4-GrandeLight.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

// Output

@font-face {
  font-family: "Output Sans Deck";
  src: url("/assets/fonts/output/OutputSansHairlines-Deck.woff2") format("woff2"),
       url("/assets/fonts/output/OutputSansHairlines-Deck.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

// Input


@font-face {
    src: url('/assets/fonts/inputSans/InputSans-ExtraLight.woff2') format("woff2"),
         url('/assets/fonts/inputSans/InputSans-ExtraLight.woff') format("woff");
    font-family: 'InputSans';
    font-style: normal;
    font-weight: 275;
    }

@font-face {
    src: url('/assets/fonts/inputSans/InputSans-ExtraLightItalic.woff2') format("woff2"),
         url('/assets/fonts/inputSans/InputSans-ExtraLightItalic.woff') format("woff");
    font-family: 'InputSans';
    font-style: italic;
    font-weight: 275;
    }
