@font-face {
  font-family: "Output Sans Deck";
  src: url("/assets/fonts/OutputSansHairlines-Deck.woff2") format("woff2"),
       url("/assets/fonts/OutputSansHairlines-Deck.woff") format("woff"),
       url("/assets/fonts/OutputSansHairlines-Deck.eot") format("eot");
  font-style: normal;
  font-weight: 100;
}
