:root {
  font-size: 100%;
  line-height: 1.4;
  font-family: 'InputSans', sans-serif;
  font-weight: 275;
  --background: black;
  --color: hsl(250 80% 60%);
  --title-col: hsl(140 69% 45%);
  --link-col: hsl(0 88% 35%);
  --hover-col: hsl(75 60% 60%);
  --focus-col: hsl(300 100% 55%);
}

html, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--background);
  color: var(--color);
  padding: 0 1rem;
}

a {
  color: var(--link-col);
  text-decoration: none;
  outline: none;
}
a:hover { color: var(--hover-col); }
a:focus { color: var(--focus-col); }

h1, h2, h3 {
  font-size: .875rem;
  margin: 0 0 0.25rem;
  font-weight: 275;
  color: var(--title-col);
}

section { margin-bottom: 3em; }

p, li, td { font-size: 0.875rem; }

ul {
  list-style-position: outside;
  padding-left: 0.9rem;
  /*
  list-style: none;
  li::before { content: "– "}
  li {
    text-indent: -1rem;
    padding-left: 1rem;
  }
  */
}

table {
  border: none;
  td {
    text-align: left;
    vertical-align: top;
  }
  td:first-child {
    white-space: nowrap;
  }
  td + td {
    padding-left: 0.5rem;
  }
}

@media (min-width: 500px) {
  :root {
    font-size: 100%;
  }
  body { padding: 2em 2em 5em; }
}
