:root {
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Output Sans Deck', sans-serif;
}

html, * {
  font-weight: 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: hsl(355, 100%, 100%);
  padding: 0 1rem;
}

a {
  color: hsl(190, 100%, 70%);
  text-decoration: none;
}
a:hover, a:focus { color: hsl(200, 100%, 60%); }

h1, h2, h3 {
  margin: 0 0 0.25rem;
}

h1 { color: hsl(150, 100%, 100%); }

h2 {
  font-size: 1.5em;
  // color: hsl(210, 100%, 50%);
}

h3 {
  font-size: 1em;
}

section {
  margin-bottom: 3em;
}

ul {
  // list-style-position: outside;
  // padding-left: 0.9rem;
  list-style: none;
  li::before { content: "– "}
  li {
    text-indent: -1rem;
    padding-left: 1rem;
  }
}

table {
  td:first-child {
    padding-right: 0.5rem;
  }
}

@media (min-width: 500px) {
  body { padding: 2em 2em 5em; }
  }
