:root {
  font-size: 100%;
  line-height: 1.4;
  font-family: 'Output Sans Deck', sans-serif;
}

html, * {
  font-weight: 100;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: hsl(355, 100%, 100%);
  padding: 0 1rem;
}

a { color: hsl(355, 100%, 100%); }
a:hover, a:focus { color: hsl(200, 100%, 60%); }

h1 {
  color: hsl(150, 90%, 40%);
  margin: 1rem 0;
}

h2 {
  font-size: 1.5em;
  // color: hsl(210, 100%, 50%);
  margin: 2em 0 1em;
}

h3 {
  font-size: 1em;
  margin: 0;
}

section {
  margin-bottom: 2em;
}

@media (min-width: 500px) {
  body { padding: 2em 2em 5em; }
  }
