/.env
/.idea
/vendor
.DS_Store
**/*.swp
**/*.swo
Capfile
/config/deploy/
/config/deploy.rb
/lib/
/log/
db_info.txt
uploads/
p5/
sass/style.old
web/assets/css/*.map
web/assets/js/.tern-project
gulpfile.js
node_modules/
package-lock.json
package.json
