{% extends '_layout' %}

{% block content %}

  <main id="ssh-public">

    <section>
      <p>-----BEGIN PGP PUBLIC KEY BLOCK-----</p>
      <p>Version: GnuPG v1</p>
    </section>

    <section>
      <p id="key"><pre>mQENBFb1raEBCAC+oVXQF6FQsbUbQv0kPn08ga5Xx50/DjOhTrlN1KGNBW/kAC8W
yT3GBteiLzeunMLu0kDn59UnA8lfiQWd89eBfZUciwi5xgZ4H1MKOtx+bXdGGj2o
pMWbMLfDGPCbArKq1FFuqBN/tijiA3TvNFWnrpFSGxskOqbbrtqw39LHDPtzG9Q6
zzJCD+jIsg1ATPUC4TjPM7pjpRFr5bM5T/atKaIclpqC+kiCFQDpF6eNacd0bCCM
x3Xe8auyonAI7jogTXE/4879iOXcUn/SBJn3sk0prFZ6/wxfRPYV2igxdq2F8XiT
9ddEYJSDktOdRwvppa6lBqc13Cnr3PnsTOWfABEBAAG0Lkpvc2VmIFJlbm5lciAo
T29sb25nKSA8am9zZWYucmVubmVyQGdtYWlsLmNvbT6JATgEEwECACIFAlb1raEC
GwMGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJEEPaeRnpdkVhiXAH/2lX929l
rWHHZHBYklKOF5GeSqddswDnaamagjSKZ5JExv7UWhYpt+9c7BeYzs/ZOa1NSbl5
lCLvLt5TgN0uXlOjPbKMaMZpUP3KCxTsRRO5/q0nt7alyYqucS6WItG3JR2SD06q
sA2whhG444DwDFBTprFGh5Mtxl3NJ9stqx/ukC7FaR6sKMWCOA6HSCvzOO4NDgts
WaaXML17EkRLQf4Z1/dYhA83/AJNnALDMjroVAWMT1Ls6hcgN8WBazw3ue3sn1FQ
b89WifubGY2xBnH9Nq3KxktL0PLbIjna/5TU2zC8W5IuTvSrEqZw55fuC7tCrNwt
RV3jn/1NySFvLtW5AQ0EVvWtoQEIAMzqxZwKLwL/8SB4OP8pBtw5D3xRkfXCZhk/
S2QCeI1Q+vDxWidexfRzRWdpVk4COfAQlsTkpcY/mD1wKSqL0nQihUFryfKL9SbF
60s7YKqH+Eg8WwMWL1yf6IA7pC42oFMhHsv/4Nzxl1AUwh32yq0pHQlHOzBp6ipA
SfArXRNMQUR1h2/1H0iolAuSkl5k6Ob7pbpTDnsMq+AF5C+YrzwZFhnCaNW24nsG
RWcRbUrO2vDOoLNq53cHFzY97oPCiE7hmv+m8T5Gv0I3MOOaHZw33I+/jVWSwDqk
A3gyuLlnQ/OFKmXrzP5dxnzGDrAlwUf5CQZWn6Tj6me61ERu5RsAEQEAAYkBHwQY
AQIACQUCVvWtoQIbDAAKCRBD2nkZ6XZFYadACAC5vGBIEvhWN/jMG3tRx4m+MVtI
DvVcf4ELFfpRu1EPh0G5HQKbsFmmhkoixGLdzZ83vmlLKOetePHcD6RVniqm/GJs
eJbFUndp9isRgEB80RGhzkSjeSY7tPE9HP5jCYgxCqp5YG504V606j/1Nh84proe
0JGiCrqL8OOlx9Gyye8fmGHPvYWEX6+U0HFT/OfgWHExFl8Ps3ZtEFM+f5FaEeqt
OGDviPZ1+cN7OH6NIeAI9XLjQoGfbv+yOIEZ16+ujEUBHUyAw9QFlYNQU2o+XPyU
QaDVCGF7UTwXm99zzWnsu7wI3N0GdTZHgWRVqE/0mbwnTxTpS+RP8Ix/PhZx
=K8Tz</pre></p>
    </section>

    <section>
      <p>-----END PGP PUBLIC KEY BLOCK-----</p>
    </section>

  </main>

  <script>
  </script>

{% endblock %}
