{% extends "_layout" %}

{% set index_page = craft.entries.section('home').one() %}

{% block content %}
  <main>

    {% if index_page.linkList|length %}
      <ul>
      {% for link in index_page.linkList.all() %}
	      <li><a href="{{ link.linkUrl }}" target="_blank">{{ link.linkText }}</a></li>
      {% endfor %}
      </ul>
    {% endif %}

  </main>

  <aside>Redesign Iminent</aside>

  <script src="/assets/p5/p5.min.js"></script>
  <script src="/assets/js/shape.js"></script>
  <script src="/assets/js/sketch.js"></script>

{% endblock %}
